<!-- GOODS-ROW START -->
<section class="goods-row section-block">
    <div class="container">
        <h2 class="goods-row__title title">
            FRÜHLING
        </h2>
        <div class="goods-row__container">
            <div class="goods__tool tools">
                <button class="tools__btn tools__btn--open-filters">
                    <svg width="16" height="16" class="tools__btn-icon">
                        <use href="./img/icons/svg_sprite.svg#icon-filter"></use>
                    </svg>

                    <span>Filter</span>
                </button>

                <div class="breadcrumps__container tools__breadcrumps">
                    <a href="#">Startseite</a> <span>/</span> <a href="#">HOSEN</a>
                </div>

                <div class="tools__count-on-page">
                    1 - 20 / 300
                </div>

                <div class="tools__btn-container" data-is-active="false">
                    <button class="tools__btn tools__btn--sublist">
                        <span>Sortierung</span>

                        <svg width="16" height="16" class="tools__btn-icon">
                            <use href="./img/icons/svg_sprite.svg#icon-caretDown"></use>
                        </svg>
                    </button>

                    <div class="tools__sublist">
                        <div class="tools__common-list-item" data-is-active="true">
                            Artikelname von A bis Z
                        </div>

                        <div class="tools__common-list-item" data-is-active="false">
                            Artikelname von Z bis A
                        </div>
                    </div>
                </div>

                <div class="tools__btn-container" data-is-active="false">
                    <button class="tools__btn tools__btn--sublist">
                        <span>Artikel pro Seite</span>

                        <svg width="16" height="16" class="tools__btn-icon">
                            <use href="./img/icons/svg_sprite.svg#icon-caretDown"></use>
                        </svg>
                    </button>

                    <div class="tools__sublist">
                        <div class="tools__common-list-item" data-is-active="true">
                            10
                        </div>

                        <div class="tools__common-list-item" data-is-active="false">
                            20
                        </div>
                    </div>
                </div>

                <div class="tools__btn-container" data-is-active="false">
                    <button class="tools__btn tools__btn--sublist">
                        <span>Besondere Artikel</span>

                        <svg width="16" height="16" class="tools__btn-icon">
                            <use href="./img/icons/svg_sprite.svg#icon-caretDown"></use>
                        </svg>
                    </button>

                    <div class="tools__sublist">
                        <a href="" class="tools__common-list-item">
                            <svg width="16" height="16" class="tools__list-item-squares">
                                <use href="./img/icons/svg_sprite.svg#icon-squareO"></use>
                            </svg>

                            Top-Angebot <span class="count-circle">301</span>
                        </a>

                        <a href="" class="tools__common-list-item">
                            <svg width="16" height="16" class="tools__list-item-squares">
                                <use href="./img/icons/svg_sprite.svg#icon-squareO"></use>
                            </svg>

                            Unsere Bestseller <span class="count-circle">252</span>
                        </a>
                    </div>
                </div>

                <div class="tools__view-btns">
                    <button class="tools__btn tools__btn--view" data-is-active="false">
                        <svg width="25" height="25">
                            <use href="./img/icons/svg_sprite.svg#icon-list"></use>
                        </svg>
                    </button>

                    <button class="tools__btn tools__btn--view" data-is-active="true">
                        <svg width="25" height="25">
                            <use href="./img/icons/svg_sprite.svg#icon-grid"></use>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="goods-row__catalogue">
                <div class="goods-row__card card-row">
                    <div class="card__img-wrapper">
                        <a href="">
                            <img src="./img/goods/item.jpg" alt="">

                            <span class="card__label card__label--info-text"
                                data-type="special-offer">Sonderangebot</span>

                            <span class="card__label card__label--discount">-35%</span>
                        </a>
                    </div>
                </div>
                <div class="goods-row__wrap">
                    <div class="goods-row__block goods-row__block--name-side">
                        <h4 class="goods-row__title mb-10">
                            <a href="#">Jeans 36-42</a>
                        </h4>

                        <div class="card__stars">
                            <span class="card__star-item">
                                <svg width="16" height="16">
                                    <use href="./img/icons/svg_sprite.svg#icon-star"></use>
                                </svg>
                            </span>
                            <span class="card__star-item">
                                <svg width="16" height="16">
                                    <use href="./img/icons/svg_sprite.svg#icon-star"></use>
                                </svg>
                            </span>
                            <span class="card__star-item">
                                <svg width="16" height="16">
                                    <use href="./img/icons/svg_sprite.svg#icon-star"></use>
                                </svg>
                            </span>
                            <span class="card__star-item">
                                <svg width="16" height="16">
                                    <use href="./img/icons/svg_sprite.svg#icon-starHalfOutlined"></use>
                                </svg>
                            </span>
                            <span class="card__star-item">
                                <svg width="16" height="16">
                                    <use href="./img/icons/svg_sprite.svg#icon-starOutlined"></use>
                                </svg>
                            </span>
                        </div>

                        <div class="goods-row__info">
                            <div class="goods-row__code">
                                <span class="goods-row__code-name">GTIN:</span>
                                <span class="goods-row__code-value">4066271015491</span>
                            </div>

                            <div class="goods-row__code">
                                <span class="goods-row__code-name">Variationen in:</span>
                                <span class="goods-row__code-value">Grösse</span>
                            </div>
                        </div>

                        <div class="goods-row__articles">
                            <span>Artikelnummer:</span>
                            <span>K4FE8894</span>
                        </div>
                    </div>

                    <div class="goods-row__block goods-row__block--order-side">
                        <label class="form-field mb-15">
                            <div class="form-field__select-container" data-is-active="false">
                                <div class="form-field__select-head">
                                    <div class="form-field__select-item-content">
                                        Farbe - Bitte wählen Sie eine Variation.
                                    </div>

                                    <div class="form-field__select-caret">
                                        <i class="fa-solid fa-caret-up"></i>
                                    </div>
                                </div>

                                <ul class="form-field__select-body">
                                    <li class="form-field__select-item">
                                        <div class="form-field__select-item-content">
                                            Jeans
                                        </div>

                                        <span class="form-field__select-check">
                                            <i class="fa-sharp fa-solid fa-check"></i>
                                        </span>
                                    </li>
                                    <li class="form-field__select-item">
                                        <div class="form-field__select-item-content">
                                            XXL <span class="form-field__select-item-empty">
                                                Ihre Auswahl ist leider nicht verfügbar.
                                            </span>
                                        </div>

                                        <span class="form-field__select-check">
                                            <i class="fa-sharp fa-solid fa-check"></i>
                                        </span>
                                    </li>
                                    <li class="form-field__select-item">
                                        <div class="form-field__select-item-content">
                                            S
                                        </div>

                                        <span class="form-field__select-check">
                                            <i class="fa-sharp fa-solid fa-check"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </label>

                        <label class="form-field mb-15">
                            <div class="form-field__select-container" data-is-active="false">
                                <div class="form-field__select-head">
                                    <div class="form-field__select-item-content">
                                        Grösse - Bitte wählen Sie eine Variation.
                                    </div>

                                    <div class="form-field__select-caret">
                                        <i class="fa-solid fa-caret-up"></i>
                                    </div>
                                </div>

                                <ul class="form-field__select-body">
                                    <li class="form-field__select-item">
                                        <div class="form-field__select-item-content">
                                            Jeans
                                        </div>

                                        <span class="form-field__select-check">
                                            <i class="fa-sharp fa-solid fa-check"></i>
                                        </span>
                                    </li>
                                    <li class="form-field__select-item">
                                        <div class="form-field__select-item-content">
                                            XXL
                                        </div>

                                        <span class="form-field__select-check">
                                            <i class="fa-sharp fa-solid fa-check"></i>
                                        </span>
                                    </li>
                                    <li class="form-field__select-item">
                                        <div class="form-field__select-item-content">
                                            S
                                        </div>

                                        <span class="form-field__select-check">
                                            <i class="fa-sharp fa-solid fa-check"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </label>

                        <div class="goods-row__price-block">
                            <div class="goods-row__price-field">
                                <span>32,44</span> €
                            </div>

                            <small class="card__note mb-15">
                                <p>Alter Preis:
                                    <del>49,90 €</del>
                                </p>
                                <p>Rabatt:<span>35%</span></p>
                            </small>

                            <div class="card__notice card__notice--availability mb-5">
                                Knapper Lagerbestand
                            </div>
                            <div class="card__notice card__notice--delivery mb-20">
                                Lieferzeit: 3 - 7 Werktage
                            </div>

                            <div class="goods-row__count-field">
                                <div class="card__count-field goods-row__count">
                                    <button class="card__count-btn card__count-btn--minus" data-type="minus"></button>
                                    <input type="number" value="1" class="card__count-input">
                                    <button class="card__count-btn card__count-btn--plus" data-type="plus"></button>
                                </div>

                                <button type="submit" class="btn card__submit-btn">
                                    In den Warenkorb
                                </button>
                            </div>

                            <div class="goods-row__actions-list">
                                <button class="goods-row__actions-btn goods-row__actions-btn--comparison">
                                    <svg width="20" height="20">
                                        <use href="./img/icons/svg_sprite.svg#icon-tasks"></use>
                                    </svg>
                                    <span>Vergleichsliste</span>
                                </button>
                                <button class="goods-row__actions-btn goods-row__actions-btn--wishlist">
                                    <svg width="20" height="20">
                                        <use href="./img/icons/svg_sprite.svg#icon-heart"></use>
                                    </svg>
                                    <span>Wunschzettel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- GOODS-ROW END -->