<!-- ADVANTAGE START -->
<section class="advantage section-block">
    <div class="container container--bottom-border">
        <div class="advantage__wrap">
            <div class="advantage__item">
                <div class="advantage__img">
                    <img src="./img/advantage/italy.svg" alt="Direkt aus Italien">
                </div>
                <h4 class="advantage__title">
                    Direkt aus<br/> Italien
                </h4>
                <p class="advantage__text">

                </p>
            </div>

            <div class="advantage__item">
                <div class="advantage__img">
                    <img src="./img/advantage/return.svg" alt="Rückversand">
                </div>
                <h4 class="advantage__title">
                    Rückversand
                </h4>
                <p class="advantage__text">
                    kostenlos
                </p>
            </div>

            <div class="advantage__item">
                <div class="advantage__img">
                    <img src="./img/advantage/delivery.svg" alt="Versandkostenfrei">
                </div>
                <h4 class="advantage__title">
                    Versandkostenfrei
                </h4>
                <p class="advantage__text">
                    nach DE ab 50€
                </p>
            </div>

            <div class="advantage__item">
                <div class="advantage__img">
                    <img src="./img/advantage/reward.svg" alt="Bonuspunkte">
                </div>
                <h4 class="advantage__title">
                    Bonuspunkte
                </h4>
                <p class="advantage__text">
                    bei jedem Einkauf
                </p>
            </div>

            <div class="advantage__item">
                <div class="advantage__img">
                    <img src="./img/advantage/invoice.svg" alt="Kauf auf Rechnung">
                </div>
                <h4 class="advantage__title">
                    Kauf auf Rechnung
                </h4>
                <p class="advantage__text">
                    
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ADVANTAGE END -->