.goods {
    &__title {
        margin-bottom: 45px;
    }

    &__subcategory {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1000px) {
            flex-basis: 48%;
        }
    }

    &__subcategory-item {
        flex-direction: column;
        flex-basis: 32%;

        @media (max-width: 1000px) {
            flex-basis: 48%;

        }

        @media (max-width: 480px) {
            flex-basis: 98%;
        }
    }

    &__subcategory-link {
        padding: 10px;
        font-size: 22px;
        font-weight: 700;
        color: $defaultFontColor;
        text-transform: uppercase;
        display: block;
        text-align: center;

        &:hover {
            transition: opacity .3s ease-in-out;
            opacity: .7;
        }

        @media (max-width: 767px) {
            font-size: 17px;
        }
    }

    &__catalogue {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 40px;
        column-gap: 20px;
        padding-bottom: 80px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__card-detail {
        opacity: 0;
        visibility: hidden;
        transition: .3s ease;
        height: 150px;
        background: blue;
    }

    &__card-container {
        position: relative;
        height: 540px;
    }

    &__item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.filter {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: $overlayBg;
    transition: .3s ease;
    font-size: 16px;

    &[data-is-active="true"] {
        opacity: 1;
        visibility: visible;

        .filter {
            &__sidebar {
                transform: translateX(0);
            }
        }
    }

    &[data-is-active="false"] {
        opacity: 0;
        visibility: hidden;

        .filter {
            &__sidebar {
                transform: translateX(-300px);
            }
        }
    }

    &__sidebar {
        position: relative;
        background: $whiteColor;
        overflow: auto;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        padding: 60px 30px 20px;
        transition: .3s ease;
        display: flex;
        flex-direction: column;

        @media (max-width: 767px) {
            max-width: 100%;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: $primaryColor;
        border: none;
        background: none;
        transition: .3s ease;

        svg {
            fill: $filterLink;
        }

        &:hover {
            opacity: .7;
        }
    }

    &__subtitle {
        text-transform: uppercase;
        margin-bottom: 16px;
        color: $filterLink;
    }

    &__btn {
        cursor: pointer;
        color: $filterLink;
        transition: .3s ease;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &.active {
            font-weight: 700;
        }

        &--expand {

            .with-arrow {
                width: 100%;
                position: relative;
            }

            &[data-is-open="true"] {
                .filter__btn-sublist {
                    display: block;
                }
            }

            &[data-is-open="false"] {
                .filter__btn-sublist {
                    display: none;
                }
            }
        }

        &:hover {
            .hover-text {
                opacity: .7;
            }
        }
    }

    &__btn-sublist {
        padding-left: 15px;
        padding-top: 15px;
    }

    &__btn-sublink {
        transition: .3s ease;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
        
        &:hover {
            opacity: .7;
        }
    }

    &__btn-arrow {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s ease;

        svg {
            fill: $filterLink;
        }

        &:hover {
            opacity: .7;
        }
    }

    &__circle-count {
        font-weight: 700;
        background: $primaryColor;
        padding: 0 7px;
        border-radius: 30px;
        flex-shrink: 0;
        color: $whiteColor;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__checkbox-item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        svg {
            fill: $goodsTextColor;
            margin-right: 5px;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:hover {
            opacity: .7;
        }
    }

    &__checkbox-name {
        flex-grow: 1;
    }

    &__stars {
        display: flex;

        svg {
            fill: $primaryColor;
        }
    }
}