<section class="goods section-block">
    <div class="container container--goods">
        <h2 class="goods__title title">
            HOSEN
        </h2>
        <div class="goods__subcategory">
            <div class="goods__subcategory-item">
                <a href="" class="goods__subcategory-link">
                    <img src="./img/goods/jewelly.jpg" alt="Jewelly" class="">
                </a>

                <a href="" class="goods__subcategory-link">
                    Jewelly
                </a>
            </div>

            <div class="goods__subcategory-item">
                <a href="" class="goods__subcategory-link">
                    <img src="./img/goods/karostar.jpg" alt="Karostar" class="">
                </a>

                <a href="" class="goods__subcategory-link">
                    Karostar
                </a>
            </div>

            <div class="goods__subcategory-item">
                <a href="" class="goods__subcategory-link">
                    <img src="./img/goods/mellyco.jpg" alt="Melly&Co" class="">
                </a>

                <a href="" class="goods__subcategory-link">
                    Melly&Co
                </a>
            </div>
        </div>
        <div class="goods__wrap">
            <div class="goods__tool tools">
                <button class="tools__btn">
                    <svg width="16" height="16" class="tools__btn-icon">
                        <use href="./img/icons/svg_sprite.svg#icon-filter"></use>
                    </svg>

                    <span>Filter</span>
                </button>

                <div class="breadcrumps__container tools__breadcrumps">
                    <a href="#">Startseite</a> <span>/</span> <a href="#">HOSEN</a>
                </div>

                <div class="tools__count-on-page">
                    1 - 20 / 300
                </div>

                <div class="tools__btn-container" data-is-active="false">
                    <button class="tools__btn tools__btn--sublist">
                        <span>Sortierung</span>

                        <svg width="16" height="16" class="tools__btn-icon">
                            <use href="./img/icons/svg_sprite.svg#icon-caretDown"></use>
                        </svg>
                    </button>

                    <div class="tools__sublist">
                        <div class="tools__common-list-item" data-is-active="true">
                            Artikelname von A bis Z
                        </div>

                        <div class="tools__common-list-item" data-is-active="false">
                            Artikelname von Z bis A
                        </div>
                    </div>
                </div>

                <div class="tools__btn-container" data-is-active="false">
                    <button class="tools__btn tools__btn--sublist">
                        <span>Artikel pro Seite</span>

                        <svg width="16" height="16" class="tools__btn-icon">
                            <use href="./img/icons/svg_sprite.svg#icon-caretDown"></use>
                        </svg>
                    </button>

                    <div class="tools__sublist">
                        <div class="tools__common-list-item" data-is-active="true">
                            10
                        </div>

                        <div class="tools__common-list-item" data-is-active="false">
                            20
                        </div>
                    </div>
                </div>

                <div class="tools__btn-container" data-is-active="false">
                    <button class="tools__btn tools__btn--sublist">
                        <span>Besondere Artikel</span>

                        <svg width="16" height="16" class="tools__btn-icon">
                            <use href="./img/icons/svg_sprite.svg#icon-caretDown"></use>
                        </svg>
                    </button>

                    <div class="tools__sublist">
                        <a href="" class="tools__common-list-item">
                            <svg width="16" height="16" class="tools__list-item-squares">
                                <use href="./img/icons/svg_sprite.svg#icon-squareO"></use>
                            </svg>

                            Top-Angebot <span class="count-circle">301</span>
                        </a>

                        <a href="" class="tools__common-list-item">
                            <svg width="16" height="16" class="tools__list-item-squares">
                                <use href="./img/icons/svg_sprite.svg#icon-squareO"></use>
                            </svg>

                            Unsere Bestseller <span class="count-circle">252</span>
                        </a>
                    </div>
                </div>

                <div class="tools__view-btns">
                    <button class="tools__btn tools__btn--view" data-is-active="false">
                        <svg width="25" height="25">
                            <use href="./img/icons/svg_sprite.svg#icon-list"></use>
                        </svg>
                    </button>

                    <button class="tools__btn tools__btn--view" data-is-active="true">
                        <svg width="25" height="25">
                            <use href="./img/icons/svg_sprite.svg#icon-grid"></use>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="goods__catalogue">
                <div class="goods__card-container">
                    <div class="goods__item card card--item">
                        <div class="card__img-wrapper">
                            <a href="">
                                <img src="./img/goods/item.jpg" alt="">

                                <span class="card__label card__label--info-text"
                                      data-type="special-offer">Sonderangebot</span>

                                <span class="card__label card__label--discount">-35%</span>
                            </a>
                        </div>

                        <div class="card__text-block">
                            <h4 class="card__name-block">
                                <a href="#" class="card__name">Jeansjacke</a>

                                <button class="card__like-btn">
                                    <svg width="18" height="18">
                                        <use href="./img/icons/svg_sprite.svg#icon-heart"></use>
                                    </svg>
                                </button>
                            </h4>

                            <div class="card__stars">
                                <span class="card__star-item">
                                    <svg width="16" height="16">
                                        <use href="./img/icons/svg_sprite.svg#icon-star"></use>
                                    </svg>
                                </span>
                                <span class="card__star-item">
                                    <svg width="16" height="16">
                                        <use href="./img/icons/svg_sprite.svg#icon-star"></use>
                                    </svg>
                                </span>
                                <span class="card__star-item">
                                    <svg width="16" height="16">
                                        <use href="./img/icons/svg_sprite.svg#icon-star"></use>
                                    </svg>
                                </span>
                                <span class="card__star-item">
                                    <svg width="16" height="16">
                                        <use href="./img/icons/svg_sprite.svg#icon-starHalfOutlined"></use>
                                    </svg>
                                </span>
                                <span class="card__star-item">
                                    <svg width="16" height="16">
                                        <use href="./img/icons/svg_sprite.svg#icon-starOutlined"></use>
                                    </svg>
                                </span>
                            </div>

                            <div class="card__price-field">
                                jetzt nur <span class="amount"><span>32,44</span> €</span>
                            </div>

                            <small class="card__note">
                                <p>Alter Preis:
                                    <del>49,90 €</del>
                                </p>
                                <p>Rabatt:<span>35%</span></p>
                            </small>

                            <div class="card__hover-info-block">
                                <div class="card__notice card__notice--availability mb-20">
                                    Knapper Lagerbestand
                                </div>
                                <div class="card__notice card__notice--delivery mb-20">
                                    Lieferzeit: 3 - 7 Werktage
                                </div>

                                <label class="form-field mb-15">
                                    <div class="form-field__label">
                                        <b>Farbe</b>
                                    </div>

                                    <div class="form-field__select-container" data-is-active="false">
                                        <div class="form-field__select-head">
                                            <div class="form-field__select-item-content">
                                                Bitte wählen Sie eine Variation.
                                            </div>

                                            <div class="form-field__select-caret">
                                                <i class="fa-solid fa-caret-up"></i>
                                            </div>
                                        </div>

                                        <ul class="form-field__select-body">
                                            <li class="form-field__select-item">
                                                <div class="form-field__select-item-content">
                                                    Jeans
                                                </div>

                                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                                            </li>
                                            <li class="form-field__select-item">
                                                <div class="form-field__select-item-content">
                                                    XXL <span class="form-field__select-item-empty">
                                                    Ihre Auswahl ist leider nicht verfügbar.
                                                </span>
                                                </div>

                                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                                            </li>
                                            <li class="form-field__select-item">
                                                <div class="form-field__select-item-content">
                                                    S
                                                </div>

                                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                                            </li>
                                        </ul>
                                    </div>
                                </label>

                                <label class="form-field mb-15">
                                    <div class="form-field__label">
                                        <b>Grösse</b>
                                    </div>

                                    <div class="form-field__select-container" data-is-active="false">
                                        <div class="form-field__select-head">
                                            <div class="form-field__select-item-content">
                                                Bitte wählen Sie eine Variation.
                                            </div>

                                            <div class="form-field__select-caret">
                                                <i class="fa-solid fa-caret-up"></i>
                                            </div>
                                        </div>

                                        <ul class="form-field__select-body">
                                            <li class="form-field__select-item">
                                                <div class="form-field__select-item-content">
                                                    Jeans
                                                </div>

                                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                                            </li>
                                            <li class="form-field__select-item">
                                                <div class="form-field__select-item-content">
                                                    XXL
                                                </div>

                                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                                            </li>
                                            <li class="form-field__select-item">
                                                <div class="form-field__select-item-content">
                                                    S
                                                </div>

                                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                                            </li>
                                        </ul>
                                    </div>
                                </label>

                                <div class="card__choosen-block">
                                    Dieser Artikel hat Variationen. Wählen Sie bitte die gewünschte Variation aus.
                                </div>

                                <div class="card__count-field mb-20">
                                    <button class="card__count-btn card__count-btn--minus" data-type="minus"></button>
                                    <input type="number" value="1" class="card__count-input">
                                    <button class="card__count-btn card__count-btn--plus" data-type="plus"></button>
                                </div>

                                <button type="submit" class="btn card__submit-btn">
                                    In den Warenkorb
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <div class="pagination__pages-count">
                    <a href="#" class="pagination__link">« Zurück</a>
                    <a href="#" class="pagination__link">1</a>
                    <a href="#" class="pagination__link" data-is-active="true">2</a>
                    <a href="#" class="pagination__link">3</a>
                    <a href="#" class="pagination__link">4</a>
                    <a href="#" class="pagination__link">weiter »</a>
                </div>

                <div class="pagination__count-on-page">
                    <label class="pagination__select">
                        <div class="pagination__select-container" data-is-active="false">
                            <div class="pagination__select-head">
                                <div class="form-field__select-item-content">
                                    Gehe zu Seite
                                </div>

                                <div class="pagination__select-caret">
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>
                            </div>

                            <ul class="pagination__select-body">
                                <li class="pagination__select-item">
                                    <a href="#">1</a>
                                </li>
                                <li class="pagination__select-item active">
                                    <a href="#">2</a>
                                </li>
                                <li class="pagination__select-item">
                                    <a href="#">3</a>
                                </li>
                            </ul>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>