<!-- FASHION START -->
<section class="fashion section-block">
    <div class="container">
        <div class="fashion__wrap">
            <img src="./img/header/logo.jpg" alt="© Ilessa Bella Moda">
            <h3 class="fashion__title">
                Italienische Mode für Frauen wie dich
            </h3>
            <div class="fashion__content">
                <p class="fashion__text fashion__text--info">
                    Ilessa® steht als Modelabel und Marke für trendige Damenmode Made in Italy von Größe 34 – 52+.
                    Entdecken Sie bei uns italienische Modetrends mit dem gewissen Etwas.
                    Seien Sie modisch immer up to date.
                </p>
                <p class="fashion__text">

                    Mit den fabelhaften Styles von Ilessa® haben Sie in Sachen Fashion stets die Nase vorn. Täglich neue
                    Outfits, farblich abgestimmt von Kopf bis Fuß.
                </p>
                <p class="fashion__text">
                    Ilessa®-Styles unterstreichen Ihre Persönlichkeit mit Ihrem ganz individuellen Kleidungsstil und
                    sorgen dafür, dass Sie sich in Ihrer Haut rundum wohl fühlen.
                </p>
                <p class="fashion__text">
                    Lassen Sie sich inspirieren von unserer trendigen italienischen fashion, auch in großen Größen, und
                    schmeicheln Sie Ihren wunderschönen Kurven. Formschön und elegant schmiegt sich unsere fashion an Ihren
                    Körper und verleiht Ihnen ein selbstbewusstes Auftreten sowie verführerische Weiblichkeit.
                </p>
                <p class="fashion__text">
                    Ilessa® steht für einen ganz besonderen Modegeschmack, der geprägt ist vom eindrucksvollen,
                    lebenslustigen und quirligen italienischen Flair.
                </p>
                <p class="fashion__text">
                    Wir führen qualitativ hochwertige Kleidungsstücke aus Baumwolle, Wolle, Leinen, Seide, Synthetik und
                    Mischgeweben für jeden Figurtyp.
                </p>
                <p class="fashion__text">
                    In unserem Onlineshop finden Sie Damenkleider, Röcke, Hosen und modische Jeans sowie Jacken und
                    Mäntel, Pullover und Sweats, T-Shirts und Tops, Blusen und Tuniken. Schuhe, modische Accessoires wie
                    Gürtel, Taschen, Ketten, Mützen, Schals und Handschuhe runden unser umfangreiches Sortiment ab.

                </p>
                <p class="fashion__text">
                    Egal, ob es elegant, lässig oder sportlich sein soll. Bei Ilessa® finden Sie für jede Gelegenheit
                    das passende Outfit. Luftige italienische fashion für heiße Sommertage und kuschelige Kombinationen für
                    die kühlere Jahreszeit.
                </p>
                <p class="fashion__text">
                    Lassen Sie sich von uns überzeugen und bestellen Sie Ihr nächstes Outfit direkt bei Ilessa®.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- FASHION END -->