<!-- NEWSLETTER START -->
<section class="newsletter">
    <div class="container">
        <div class="newsletter__wrap">
            <div class="newsletter__warn warn mb-20">
                <div class="warn__icon">
                    <img src="./img/newsletter/warn.svg" alt="" class="">
                </div>
                <p class="warn__text">
                    Entschuldigung, Ihre E-Mail-Adresse weist ein ungültiges Format auf.
                </p>
                <button class="warn__close-btn">×</button>
            </div>

            <div class="newsletter__box">
                <h2 class="newsletter__title title">
                    Newsletter
                </h2>
                <div class="newsletter__form-box mb-15">
                    <div class="newsletter__box-title">
                        Newsletter abonnieren (Abmeldung jederzeit möglich)
                    </div>
                    <div class="newsletter__form-body">
                        <p class="newsletter__explanation">
                            Um sich für unseren Newsletter anzumelden, tragen Sie bitte hier Ihre E-Mail-Adresse ein und
                            klicken anschließend auf „Abonnieren“.
                        </p>
                        <form action="" class="newsletter__form">
                            <label class="form-field mb-15" data-is-error="false">
                                <div class="form-field__label"><b>Vorname</b> - <span class="italic">optionale
                                        Angabe</span></div>
                                <input type="text" name="Vorname" placeholder="Vorname" class="form-field__input">
                            </label>

                            <label class="form-field mb-15" data-is-error="false">
                                <div class="form-field__label"><b>Nachname</b> - <span class="italic">optionale
                                        Angabe</span></div>
                                <input type="text" name="Vorname" placeholder="Nachname" class="form-field__input">
                            </label>

                            <label class="form-field" data-is-error="false">
                                <div class="form-field__label"><b>E-Mail</b></div>
                                <input type="text" name="E-Mail" required placeholder="E-Mail"
                                    class="form-field__input">
                            </label>

                            <hr class="form-field__separator" />

                            <div class="newsletter__form-footer">
                                <p class="newsletter__form-footer-info">
                                    Bitte senden Sie mir entsprechend Ihrer Datenschutzerklärung regelmäßig und
                                    jederzeit widerruflich Informationen zu Ihrem Produktsortiment per E-Mail zu.
                                </p>

                                <button class="btn">
                                    Abonnieren
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="newsletter__form-box">
                    <div class="newsletter__box-title">
                        Newsletter abmelden
                    </div>
                    <div class="newsletter__form-body">
                        <p class="newsletter__explanation">
                            Um sich vom Newsletter abzumelden, tragen Sie bitte Ihre E-Mail-Adresse in das untenstehende
                            Feld ein. Klicken Sie anschließend auf „Abmelden“.
                        </p>
                        <form action="" class="newsletter__form">
                            <label class="form-field" data-is-error="false">
                                <div class="form-field__label"><b>E-Mail</b></div>
                                <input type="text" name="E-Mail" required placeholder="E-Mail"
                                    class="form-field__input">
                            </label>
                            <div class="newsletter__form-footer">
                                <button class="newsletter__btn btn">
                                    Abmelden
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- NEWSLETTER END -->