<section class="info-page section-block">
    <div class="container">

        <!-- Hilfe und häufige Fragen START -->

        <!-- Hilfe und häufige Fragen END -->
        <div class="custom-tab__box">
            <a href="" class="custom-tab__item">
                Bonuspunkte
            </a>
            <a href="" class="custom-tab__item">
                Einkauf
            </a>
            <a href="" class="custom-tab__item">
                Lieferung
            </a>
            <a href="" class="custom-tab__item">
                Reklamation
            </a>
            <a href="" class="custom-tab__item">
                Retouren
            </a>
            <a href="" class="custom-tab__item">
                Zahlung
            </a>
        </div>
        <div class="custom-tab__input">
            <input type="text" placeholder="Stichwortsuche..." class="custom-tab__search">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
            
        <div class="faq__container">
            <h3 class="faq__title">
                <a href="" class="text-violet-link">
                    Bonuspunkte
                </a>
            </h3>
            <div class="faq__block">
                <div class="faq__item">
                    <div class="faq__question">
                        <div class="faq__question-text">
                            <span><i class="fa-solid fa-angle-down"></i></span>
                            IST EINLÖSEN BEI NUTZUNG DER ILESSA APP MÖGLICH?
                        </div>
                    </div>
                    <div class="faq__answer">
                        Auf manchen Endgeräten funktioniert das Einlösen der Bonuspunkte über die App nicht. Bitte
                        nutzen Sie in diesem Fall den Onlineshop. Lassen sich die Bonuspunkte bei Nutzung des
                        Onlineshops nicht einlösen und Sie sehen das Feld gar nicht, verwenden Sie bitte einen anderen
                        Browser. Wichtig ist, dass Sie sich erst anmelden bevor Sie Artikel in den Warenkorb legen.
                    </div>
                </div>
            </div>
        </div>

        <!-- Retouren start -->
        <p>
            <b>Mit nur drei Schritten ist Ihr Paket wieder bei uns</b>
        </p>
        <ol>
            <li>
                Bitte füllen Sie den dem Paket beiliegenden Retourenschein aus uns unterschreiben Sie diesen, denn er
                ist gleichzeitig das Widerrufsformular.
                Senden Sie die Artikel möglichst originalverpackt an uns zurück.
            </li>

            <li>
                <p>
                    Bitte füllen Sie den dem Paket beiliegenden Retourenschein aus uns unterschreiben Sie diesen, denn
                    er
                    ist gleichzeitig das Widerrufsformular.
                    Senden Sie die Artikel möglichst originalverpackt an uns zurück.
                </p>
                <p>
                    Bitte füllen Sie den dem Paket beiliegenden Retourenschein aus uns unterschreiben Sie diesen, denn
                    er
                    ist gleichzeitig das Widerrufsformular.
                    Senden Sie die Artikel möglichst originalverpackt an uns zurück.
                </p>
                <a href="">
                    <img src="./img/info-page/dhl.png" alt="" class="">
                </a>
            </li>
        </ol>
        <!-- Retouren end -->

        <!-- Versandkosten START -->
        <div class="">
            <h2 class="title--info">
                Versandkosten
            </h2>
            <p>
                <b>
                    Versandkosten innerhalb Deutschlands
                </b>
            </p>
            <p>
                Wird bei Retoure der Mindestbestellwert für die versandkostenfreie Lieferung der
                Ursprungslieferung/-bestellung in Höhe von 50,00€ unterschritten, behält sich Ilessa® GmbH vor, die
                Versandkosten von 5,95 € nachträglich zu berechnen und den Erstattungsbetrag entsprechend zu kürzen.
            </p>
            <p>
                Wird bei Retoure der Mindestbestellwert für die versandkostenfreie Lieferung der
                Ursprungslieferung/-bestellung in Höhe von 50,00€ unterschritten, behält sich Ilessa® GmbH vor, die
                Versandkosten von 5,95 € nachträglich zu berechnen und den Erstattungsbetrag entsprechend zu kürzen.
            </p>

            <div class="delivery__table">
                <div class="delivery__row">
                    <div class="delivery__row-name">
                        <b>Deutschland</b>
                    </div>
                    <div class="delivery__row-value">
                        <span>5,95</span> €
                    </div>
                </div>

                <div class="delivery__row">
                    <div class="delivery__row-name">
                        <b>Deutschland</b>
                    </div>
                    <div class="delivery__row-value">
                        <span>5,95</span> €
                    </div>
                </div>

                <div class="delivery__row">
                    <div class="delivery__row-name">
                        <b>Deutschland</b>
                    </div>
                    <div class="delivery__row-value">
                        <span>5,95</span> €
                    </div>
                </div>
            </div>

            <form action="" class="delivery__form">
                <h3 class="delivery__form-title title--form-subblock">
                    Versandkostenermittlung für aktuellen Warenkorbinhalt nach
                </h3>

                <label class="form-field delivery__input delivery__input--land" data-is-error="false">
                    <select name="land" class="form-field__input">
                        <option value="" disabled="">Land</option>
                        <option value="DE" selected="">Deutschland</option>
                        <option value="CR">Costa Rica</option>
                        <option value="GR">Griechenland</option>
                        <option value="SE">Schweden</option>
                    </select>
                </label>

                <label class="form-field delivery__input delivery__input--bin" data-is-error="false">
                    <input type="text" placeholder="PLZ" class="form-field__input">
                </label>

                <button class="btn btn--light delivery__submit-btn">
                    Versandkosten ermitteln
                </button>
            </form>
        </div>

        <!-- Versandkosten END -->

        <!--  Ilessa® Services start-->
        <p>
            <b>Online Services</b>
        </p>
        <ul>
            <li>
                Versandkostenfreie Lieferung ab 50€
            </li>
            <li>
                Versandkostenfreie Lieferung ab 50€
            </li>
            <li>
                Versandkostenfreie Lieferung ab 50€
            </li>
        </ul>

        <!--  Ilessa® Services end-->

        <!-- Kontaktformular start -->
        <p>
            nutze bitte unser Whatsappservice. klick hier>>
            <a href="https://bit.ly/3oCkI8F" class="text-violet-link">
                https://bit.ly/3oCkI8F
            </a>

        <div class="form-field__block-title">
            <h4 class="contact__title">
                Ihre Kontaktdaten
            </h4>
        </div>

        <div class="contact____form-block">
            <div class="registration__form-item registration__form-item--half">
                <label class="form-field" data-is-error="false">
                    <div class="form-field__label"><b>Vorname</b></div>
                    <input type="text" name="name" required placeholder="Vorname" class="form-field__input">
                </label>

                <label class="form-field" data-is-error="false" registration__form-item--half>
                    <div class="form-field__label"><b>Nachname</b></div>
                    <input type="text" name="last_name" required placeholder="Nachname" class="form-field__input">
                </label>
            </div>

            <div class="registration__form-item registration__form-item--half">
                <label class="form-field" data-is-error="false">
                    <div class="form-field__label"><b>E-Mail</b></div>
                    <input type="text" name="E-Mail" required placeholder="E-Mail" class="form-field__input">
                </label>
            </div>

            <div class="registration__form-item registration__form-item--half">
                <label class="form-field">
                    <div class="form-field__label"><b>Telefon</b> - <span class="italic">optionale
                            Angabe</span></div>
                    <input type="tell" name="tell" placeholder="Telefon" class="form-field__input">
                </label>
            </div>

            <div class="form-field__block-title">
                <h4 class="contact__title">
                    Nachricht
                </h4>
            </div>

            <div class="registration__form-item registration__form-item--half">
                <label class="form-field" data-is-error="false">
                    <div class="form-field__label"><b>Betreff</b></div>
                    <select name="land" class="form-field__input" required>
                        <option value="" selected disabled="">Betreff</option>
                        <option value="4">Onlineshop Anfrage</option>
                    </select>
                </label>
            </div>

            <div class="registration__form-item">
                <label class="form-field" data-is-error="false">
                    <div class="form-field__label"><b>Nachricht</b></div>
                    <textarea required class="form-field__textarea" name=""></textarea>
                </label>
            </div>

            <hr class="form-field__separator" />

        </div>

        <a href="" class="text-violet-link  contact__form-link mb-20">
            Bitte beachten Sie unsere Datenschutzerklärung
        </a>

        <button class="btn">
            Nachricht senden
        </button>



        </p>
        <!-- Kontaktformular end -->


        <!-- Boutiquen start -->
        <a class="boutiques__link text-violet-link mb-20">
            <span><i aria-hidden="true" class="fa fa-external-link"></i></span>
            Boutique Ransbach-Baumbach
        </a>
        <!-- Boutiquen end -->

        <!-- Datenschutz start -->

        <p>
            <a href="" class="bold-link">Datenschutzerklärung</a> erstellt mit dem <a href="" class="bold-link">Trusted
                Shops</a>Rechtstexter in Kooperation mit <a href="" class="bold-link">Wilde Beuger Solmecke
                Rechtsanwälte.</a>
        </p>
        <!-- Datenschutz end -->
    </div>
</section>