<section class="info-page section-block">
    <div class="container">

        <!-- Versandkosten START -->
        <div class="">
            <h2 class="title--info">
                Versandkosten
            </h2>
            <p>
                <b>
                    Versandkosten innerhalb Deutschlands
                </b>
            </p>
            <p>
                Wird bei Retoure der Mindestbestellwert für die versandkostenfreie Lieferung der
                Ursprungslieferung/-bestellung in Höhe von 50,00€ unterschritten, behält sich Ilessa® GmbH vor, die
                Versandkosten von 5,95 € nachträglich zu berechnen und den Erstattungsbetrag entsprechend zu kürzen.
            </p>
            <p>
                Wird bei Retoure der Mindestbestellwert für die versandkostenfreie Lieferung der
                Ursprungslieferung/-bestellung in Höhe von 50,00€ unterschritten, behält sich Ilessa® GmbH vor, die
                Versandkosten von 5,95 € nachträglich zu berechnen und den Erstattungsbetrag entsprechend zu kürzen.
            </p>

            <div class="delivery__table">
                <div class="delivery__row">
                    <div class="delivery__row-name">
                        <b>Deutschland</b>
                    </div>
                    <div class="delivery__row-value">
                        <span>5,95</span> €
                    </div>
                </div>

                <div class="delivery__row">
                    <div class="delivery__row-name">
                        <b>Deutschland</b>
                    </div>
                    <div class="delivery__row-value">
                        <span>5,95</span> €
                    </div>
                </div>

                <div class="delivery__row">
                    <div class="delivery__row-name">
                        <b>Deutschland</b>
                    </div>
                    <div class="delivery__row-value">
                        <span>5,95</span> €
                    </div>
                </div>
            </div>

            <form action="" class="delivery__form">
                <h3 class="delivery__form-title">
                    Versandkostenermittlung für aktuellen Warenkorbinhalt nach
                </h3>

                <label class="form-field delivery__input delivery__input--land" data-is-error="false">
                    <select name="land" class="form-field__input">
                        <option value="" disabled="">Land</option>
                        <option value="DE" selected="">Deutschland</option>
                        <option value="CR">Costa Rica</option>
                        <option value="GR">Griechenland</option>
                        <option value="SE">Schweden</option>
                    </select>
                </label>

                <label class="form-field delivery__input delivery__input--bin" data-is-error="false">
                    <input type="text" placeholder="PLZ" class="form-field__input">
                </label>

                <button class="btn btn--light delivery__submit-btn">
                    Versandkosten ermitteln
                </button>
            </form>
        </div>


        <!-- Versandkosten END -->



    </div>
</section>