<!-- TOPIC START -->
<section class="topic section-block">
    <div class="container container--bottom-border">
        <div class="topic__wrap">
            <div class="topic__item topic__item--1">
                <a href="#" class="topic__link">
                    <img src="./img/topic/bestseller.png" alt="Bestseller">

                    <span class="topic__link-text">Ansehen</span>
                </a>
            </div>
            <div class="topic__item">
                <a href="#" class="topic__link">
                    <img src="./img/topic/hit.png" alt="Neuheiten">

                    <span class="topic__link-text topic__link-text--dark">Ansehen</span>
                </a>
            </div>
            <div class="topic__item">
                <a href="#" class="topic__link">
                    <img src="./img/topic/sale.png" alt="Sale">

                    <span class="topic__link-text">Ansehen</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- TOPIC END -->