<section class="product-view section-block">
    <div class="container">
        <div class="product-view__wrap">
            <div class="product-view__gallery">
                <div class="product-view__gallery-list">
                    <div class="product-view__gallery-item">
                        <img src="./img/gallery/product1.jpg" alt="" class="product-view__gallery-img">
                    </div>

                    <div class="product-view__gallery-item">
                        <img src="./img/gallery/product2.jpg" alt="" class="product-view__gallery-img">
                    </div>
                </div>

                <div class="product-view__main-img">
                    <div class="product-view__gallery-main-item">
                        <img src="./img/gallery/product1.jpg" alt="" class="product-view__gallery-main-img">
                    </div>
                </div>
            </div>

            <div class="product-view__info-block">
                <div class="product-view__breadcrumps mb-30">
                    <a href="#">Startseite</a> <span>/</span> <a href="#">HOSEN</a> <span>/</span> <a href="#">Karostar Jeans 38-48</a>
                </div>

                <h2 class="product-view__title title title--form mb-30">
                    Karostar Jeans 38-48
                </h2>

                <div class="product-view__attention-block">
                    <h4 class="product-view__attention-title">
                        Begrenzte Stückzahl!
                    </h4>

                    <p class="product-view__attention-text product-view__attention-text--animation">
                        <svg width="14" height="14">
                            <use href="./img/icons/svg_sprite.svg#icon-recentVisits"></use>
                        </svg>

                        1 beobachten diesen Artikel
                    </p>

                    <p class="product-view__attention-text">
                        325 verkauft in den letzten 10 Tagen
                    </p>
                </div>

                <div class="product-view__old-price-block">
                    Statt: <span class="product-view__old-price">49,90 €</span>

                    <span class="product-view__discount-box">-40%</span>
                </div>

                <div class="product-view__current-price-block">
                    29,90 €
                </div>

                <small class="product-view__small-info">inkl. 19% USt. , zzgl. <span class="open-table">Versand</span></small>

                <div class="product-view__old-info-info">
                    Alter Preis: <del>49,90 €</del>
                </div>

                <hr class="form-field__separator"/>

                <p class="product-view__info-text">
                    Für dieses Produkt erhalten Sie 59.8 Bonuspunkte
                </p>

                <hr class="form-field__separator"/>

                <label class="form-field mb-10">
                    <div class="form-field__label">
                        <b>Farbe</b>
                    </div>

                    <div class="form-field__select-container" data-is-active="false">
                        <div class="form-field__select-head">
                            <div class="form-field__select-item-content">
                                Bitte wählen Sie eine Variation.
                            </div>

                            <div class="form-field__select-caret">
                                <i class="fa-solid fa-caret-up"></i>
                            </div>
                        </div>

                        <ul class="form-field__select-body">
                            <li class="form-field__select-item">
                                <div class="form-field__select-item-content">
                                    Jeans
                                </div>

                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                            </li>
                            <li class="form-field__select-item">
                                <div class="form-field__select-item-content">
                                    XXL
                                </div>

                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                            </li>
                            <li class="form-field__select-item">
                                <div class="form-field__select-item-content">
                                    S
                                </div>

                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                            </li>
                        </ul>
                    </div>
                </label>

                <label class="form-field">
                    <div class="form-field__label">
                        <b>Grösse</b>
                    </div>

                    <div class="form-field__select-container" data-is-active="false">
                        <div class="form-field__select-head">
                            <div class="form-field__select-item-content">
                                Bitte wählen Sie eine Variation.
                            </div>

                            <div class="form-field__select-caret">
                                <i class="fa-solid fa-caret-up"></i>
                            </div>
                        </div>

                        <ul class="form-field__select-body">
                            <li class="form-field__select-item">
                                <div class="form-field__select-item-content">
                                    Jeans
                                </div>

                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                            </li>
                            <li class="form-field__select-item">
                                <div class="form-field__select-item-content">
                                    XXL
                                </div>

                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                            </li>
                            <li class="form-field__select-item">
                                <div class="form-field__select-item-content">
                                    S
                                </div>

                                <span class="form-field__select-check">
                                                <i class="fa-sharp fa-solid fa-check"></i>
                                            </span>
                            </li>
                        </ul>
                    </div>
                </label>

                <hr class="form-field__separator"/>

                <div class="product-view__availability-block">
                    <div class="product-view__availability-text">
                        NUR NOCH <span>2</span> AUF LAGER!
                    </div>

                    <div class="product-view__availability-line">
                        <span style="width: 20%"></span>
                    </div>
                </div>

                <div class="product-view__choosen-info">
                    Dieser Artikel hat Variationen. Wählen Sie bitte die gewünschte Variation aus.
                </div>

                <div class="product-view__delivery-info product-view__delivery-info--immediately">
                    <svg width="16" height="16">
                        <use href="./img/icons/svg_sprite.svg#icon-truck"></use>
                    </svg>

                    <span class="product-view__delivery-text">Sofort verfügbar</span>
                </div>
            </div>
        </div>
    </div>
</section>