<!-- HEADER START -->
<header class="header">
    <div class="header__phone-line" data-is-show="true">
        <div class="container container--header">
            <div class="header__top-link-wrap">
                <a href="tel:+4926239214016" class="header__phone">
                    <i class="fa fa-phone"></i>
                    <span>
                        +492623 9214016 Unterstützung &amp; Beratung
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="container container--header">
        <div class="header__box">
            <button class="header__btn header__search-btn header__search-btn--toggle" data-is-open="false">
                <span class="toggle-icon to-open svg-icon">
                    <svg width="14" height="14">
                        <use href="./img/icons/svg_sprite.svg#icon-search"></use>
                    </svg>
                </span>

                <span class="toggle-icon to-close svg-icon">
                    <svg width="14" height="14">
                        <use href="./img/icons/svg_sprite.svg#icon-cross"></use>
                    </svg>
                </span>
            </button>

            <a href="index.html" class="header__logo">
                <img src="./img/header/logo.jpg" alt="© Ilessa Bella Moda">
            </a>

            <div class="header__menu-wrapper">
                <nav class="header__nav">
                    <div class="header__link-wrap">
                        <a href="./product.html" class="header__link">
                            FRÜHLING
                        </a>
                    </div>
                    <div class="header__link-wrap">
                        <a href="#" class="header__link">
                            SUPERSALE
                        </a>
                    </div>
                    <div class="header__link-wrap">
                        <a href="#" class="header__link">
                            WINTER
                        </a>
                    </div>
                    <div class="header__link-wrap">
                        <a href="#" class="header__link">
                            BRANDNEU
                        </a>
                    </div>
                    <div class="header__link-wrap">
                        <a href="#" class="header__link">
                            OBERTEILE
                        </a>
                    </div>
                    <div class="header__link-wrap header__link-wrap--with-submenu">
                        <a href="./goods.html" class="header__link">
                            HOSEN <span><i class="fa-solid fa-chevron-down"></i></span>
                        </a>

                        <div class="header__sublink-list">
                            <a href="#" class="header__sublink">Jewelly</a>
                            <a href="#" class="header__sublink">Karostar</a>
                            <a href="#" class="header__sublink">Melly&Co</a>
                        </div>
                    </div>
                    <div class="header__link-wrap">
                        <a href="#" class="header__link">
                            KLEIDER/Röcke
                        </a>
                    </div>
                    <div class="header__link-wrap">
                        <a href="#" class="header__link">
                            JACKEN
                        </a>
                    </div>
                    <div class="header__link-wrap">
                        <a href="#" class="header__link">
                            SCHUHE
                        </a>
                    </div>
                    <div class="header__link-wrap">
                        <a href="#" class="header__link">
                            ACCESSOIRES
                        </a>
                    </div>
                    <div class="header__link-wrap">
                        <a href="#" class="header__link">
                            Sale
                        </a>
                    </div>
                </nav>
            </div>

            <form action="" class="header__search" data-is-active="false">
                <input type="text" name="search" placeholder="Suchen">

                <button class="header__btn header__search-btn svg-icon">
                    <svg width="14" height="14">
                        <use href="./img/icons/svg_sprite.svg#icon-search"></use>
                    </svg>
                </button>
            </form>
            <div class="header__user-wrap" data-is-active="false">
                <button href="#" class="header__user">
                    <svg width="14" height="14">
                        <use href="./img/icons/svg_sprite.svg#icon-user"></use>
                    </svg>
                </button>

                <div class="header__user-dropdown header__dropdown">
                    <form action="" class="header__user-form">
                        <input type="text" name="E-Mail" required placeholder="E-Mail-Adresse"
                            class="form-field__input mb-15">
                        <input type="password" name="password" placeholder="Passwort" required
                            class="form-field__input mb-10">
                        <a href="./forgot-password.html" class="header__password-forgotten mb-30 text-link">
                            Passwort vergessen
                        </a>
                        <button class="btn mb-15">
                            <svg width="16" height="16" class="btn__icon">
                                <use href="./img/icons/svg_sprite.svg#icon-user"></use>
                            </svg>
                            <span>Anmelden</span>
                        </button>
                    </form>
                    <a href="" class="header__amazon mb-15">
                        <img src="./img/header/amazon.svg" alt="">
                    </a>
                    <a href="./registration.html" class="header__registration btn btn--light">
                        <svg width="16" height="16" class="btn__icon">
                            <use href="./img/icons/svg_sprite.svg#icon-signIn"></use>
                        </svg>
                        <span> Jetzt registrieren!</span>
                    </a>
                </div>
            </div>

            <div class="header__basket-wrap" data-is-active="true">
                <button class="header__basket header__btn">
                    <span class="svg-icon">
                        <svg width="14" height="14">
                            <use href="./img/icons/svg_sprite.svg#icon-shoppingCart"></use>
                        </svg>
                    </span>

                    <span class="header__basket-order-count">1</span>

                    <span class="header__basket-amount">
                        <span>0.00</span>&nbsp;€
                    </span>
                </button>

                <div class="header__basket-dropdown header__basket-dropdown--goods header__dropdown">
                    <div class="header__basket-good-container-item">
                        <div class="header__basket-good-img-wrap">
                            <img src="./img/product/product1.jpg" alt="">
                        </div>

                        <div class="header__basket-good-info">
                            <a href="#">Cordhose 38-42</a>
                            <span class="header__basket-good-count-amount"><span>1</span> ×  <span>25,94</span> €</span>
                        </div>
                    </div>

                    <div class="header__basket-footer-block">
                        <div class="header__basket-footer-row">
                            <span>inkl. 19% USt.</span>

                            <span class="header__basket-footer-tax"><span>4,14</span> €</span>
                        </div>

                        <div class="header__basket-footer-row">
                            <span>Zwischensumme :</span>

                            <span class="header__basket-footer-total"><span>25,94</span> €</span>
                        </div>

                        <div class="header__basket-footer-row">
                            <span></span>

                            <span class="header__basket-footer-delivery">Zzgl. <a href="#">Versandkosten</a></span>
                        </div>
                    </div>

                    <button class="btn header__basket-submit-btn">
                        Zur Kasse
                    </button>

                    <a href="#" class="header__to-basket-btn">Zum Warenkorb</a>

                    <div class="header__basket-footer-info">
                        Noch 24,06 € und wir versenden kostenfrei mit DHL Paket nach Deutschland.
                        <a href="#">
                            <svg width="14" height="14">
                                <use href="./img/icons/svg_sprite.svg#icon-info"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="header__basket-dropdown header__dropdown">
                    <a href="#" class="header__dropdown-link text-link">
                        Es befinden sich keine Artikel im Warenkorb.
                    </a>
                </div>
            </div>

            <button class="header__bars svg-icon">
                <svg width="22" height="22">
                    <use href="./img/icons/svg_sprite.svg#icon-bars"></use>
                </svg>
            </button>
        </div>
    </div>
</header>

<div class="menu" data-is-active="false">
    <aside class="menu__sidebar">
        <button class="menu__close svg-icon">
            <svg width="14" height="14">
                <use href="./img/icons/svg_sprite.svg#icon-cross"></use>
            </svg>
        </button>

        <ul class="menu__navigation">
            <li class="menu__list-item">
                <a href="#" class="menu__link">
                    FRÜHLING
                </a>
            </li>

            <li class="menu__list-item">
                <a href="#" class="menu__link">
                    SUPERSALE
                </a>
            </li>

            <li class="menu__list-item">
                <a href="#" class="menu__link">
                    WINTER
                </a>
            </li>

            <li class="menu__list-item">
                <a href="#" class="menu__link">
                    BRANDNEU
                </a>
            </li>

            <li class="menu__list-item">
                <a href="#" class="menu__link">
                    OBERTEILE
                </a>
            </li>

            <li class="menu__list-item">
                <a href="./goods.html" class="menu__link">
                    HOSEN
                </a>
            </li>

            <li class="menu__list-item">
                <a href="#" class="menu__link">
                    KLEIDER/Röcke
                </a>
            </li>

            <li class="menu__list-item">
                <a href="#" class="menu__link">
                    JACKEN
                </a>
            </li>

            <li class="menu__list-item">
                <a href="#" class="menu__link">
                    SCHUHE
                </a>
            </li>

            <li class="menu__list-item">
                <a href="#" class="menu__link">
                    ACCESSOIRES
                </a>
            </li>
        </ul>

        <div class="menu__profile-side-wrapper">
            <div class="menu__profile-side">
                <a href="#" class="menu__profile-link">
                    <svg width="14" height="14">
                        <use href="./img/icons/svg_sprite.svg#icon-user"></use>
                    </svg>
                    <span>
                        Anmelden
                    </span>
                </a>

                <div class="menu__contact-links">
                    <a href="#" class="svg-icon menu__contact-link">
                        <svg width="16" height="16">
                            <use href="./img/icons/svg_sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>

                    <a href="#" class="svg-icon menu__contact-link">
                        <svg width="16" height="16">
                            <use href="./img/icons/svg_sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>

                    <a href="#" class="svg-icon menu__contact-link">
                        <svg width="16" height="16">
                            <use href="./img/icons/svg_sprite.svg#icon-googlePlus"></use>
                        </svg>
                    </a>

                    <a href="#" class="svg-icon menu__contact-link">
                        <svg width="16" height="16">
                            <use href="./img/icons/svg_sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>

                    <a href="#" class="svg-icon menu__contact-link">
                        <svg width="16" height="16">
                            <use href="./img/icons/svg_sprite.svg#icon-pinterest"></use>
                        </svg>
                    </a>

                    <a href="#" class="svg-icon menu__contact-link">
                        <svg width="16" height="16">
                            <use href="./img/icons/svg_sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </aside>
</div>
<!-- HEADER END -->