<!-- INFO-PRODUCT START -->
<section class="info-product section-block">
    <div class="container">
        <div class="info-product__wrap">
            <div class="info-product__item">
                <div class="info-product__img">
                    <img src="./img/product/italy.svg" alt="Direkt aus Italien">
                </div>
                <p class="info-product__text-img">
                    Direkt aus Italien
                </p>
            </div>

            <div class="info-product__item">
                <div class="info-product__img">
                    <img src="./img/product/return.svg" alt="Rückversand">
                </div>
                <p class="info-product__text-img">
                    kostenloser Rückversand
                </p>
            </div>

            <div class="info-product__item">
                <div class="info-product__img">
                    <img src="./img/product/delivery.svg" alt="Versandkostenfrei">
                </div>
                <p class="info-product__text-img">
                    Versandkostenfrei ab 50€
                </p>
            </div>

            <div class="info-product__item">
                <div class="info-product__img">
                    <img src="./img/product/reward.svg" alt="Bonuspunkte">
                </div>
                <p class="info-product__text-img">
                    Bonuspunkte
                </p>
            </div>

            <div class="info-product__item">
                <div class="info-product__img">
                    <img src="./img/product/invoice.svg" alt="Kauf auf Rechnung">
                </div>
                <p class="info-product__text-img">
                    Kauf auf Rechnung
                </p>
            </div>
        </div>
        <div class="info-product__link">
            <button class="info-product__btn">
                BESCHREIBUNG
            </button>

            <button class="info-product__btn">

                BEWERTUNGEN
            </button>
        </div>
        <div class="info-product__block">
            <div class="info-product__description">

                <div class="info-product__desctiption-block">
                    <h5 class="info-product__desctiption-subtitle">
                        Größe
                    </h5>
                    <p class="info-product__desctiption-text">
                        Einheitsgröße 38 bis 42
                    </p>
                </div>
                <div class="info-product__desctiption-block">
                    <h5 class="info-product__desctiption-subtitle">
                        Passform
                    </h5>
                    <p class="info-product__desctiption-text">
                        Oversized / Normal
                    </p>
                </div>

                <div class="info-product__desctiption-block">
                    <h5 class="info-product__desctiption-subtitle">
                        Maße
                    </h5>
                    <p class="info-product__desctiption-text">
                        Achselmaß: ca. 55 cm
                    </p>

                    <p class="info-product__desctiption-text">
                        Achselmaß: ca. 55 cm
                    </p>

                    <p class="info-product__desctiption-text">
                        Achselmaß: ca. 55 cm
                    </p>
                </div>

                <div class="info-product__desctiption-block">
                    <h5 class="info-product__desctiption-subtitle">
                        Material & Pflegehinweise
                    </h5>
                    <p class="info-product__desctiption-text">
                        Material: 100% Viskose
                    </p>
                </div>

                <div class="info-product__desctiption-block">
                    <h5 class="info-product__desctiption-subtitle">
                        Pflegehinweise:
                    </h5>
                    <div class="info-product__description-care">
                        <img src="./img/product/care1.png" alt="">
                        <img src="./img/product/care2.png" alt="">
                        <img src="./img/product/care3.png" alt="">
                        <img src="./img/product/care4.png" alt="">
                        <img src="./img/product/care5.png" alt="">
                    </div>
                    <p class="info-product__desctiption-text">
                        Handwäsche empfohlen!
                    </p>
                    <p class="info-product__desctiption-text">
                        Auf links und mit ähnlichen Farben waschen!
                    </p>

                    <p class="info-product__desctiption-text">
                        Bei empfindlichen Textilien wie z.B. Wolle, Seide, Artikel mit Spitze, Lederimitat, etc.
                        empfehlen wir die Verwendung eines Wäschesäckchens und Schleudern bei niedriger Umdrehung.
                    </p>
                </div>
            </div>
            <div class="info-product__attributes">
                <div class="info-product__attributes-item">

                    <div class="info-product__attributes-name">
                        Hersteller:
                    </div>
                    <div class="info-product__attributes-value text-violet-link">
                        <a href="">
                            Ilessa Bella Moda
                        </a>
                    </div>
                </div>

                <div class="info-product__attributes-item">
                    <div class="info-product__attributes-name">
                        Kategorie:
                    </div>
                    <div class="info-product__attributes-value text-violet-link">
                        <a href="">
                            HOSEN
                        </a>
                    </div>
                </div>

                <div class="info-product__attributes-item">
                    <div class="info-product__attributes-name">
                        Artikelnummer:
                    </div>
                    <div class="info-product__attributes-value">
                        K13MK7025
                    </div>
                </div>

                <div class="info-product__attributes-item">
                    <div class="info-product__attributes-name">
                        GTIN:
                    </div>
                    <div class="info-product__attributes-value">
                        4066271029627
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- INFO-PRODUCT END -->