.info-product {
    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: $descriotionBgColor;
        color: $primaryColor;
        padding: 10px 25px;
        margin-bottom: 50px;

        @media (max-width: 757px) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        text-align: center;
        min-width: 185px;
        padding: 0 10px;
    }

    &__img {
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }

    &__btn {
        text-transform: uppercase;
    }

    &__block {
        color: $darkColor;
        font-size: 17px;
        font-weight: 400;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;

        @media (max-width: 1023px) {
            grid-template-columns: 5fr 4fr;
        }

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }

    &__desctiption-subtitle {
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__desctiption-block {
        margin-bottom: 30px;
    }

    &__desctiption-text {
        margin-bottom: 5px;
    }

    &__description-care {
        margin: 50px 0 20px;
    }

    &__attributes-item {
        color: $defaultFontColor;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        border-top: 1px solid $inputBorderColor;

        &:last-child {
            border-bottom: 1px solid $inputBorderColor;
        }
    }

    &__attributes-name {
        font-weight: 700;

    }

    &__tabs {
        display: flex;
        margin-bottom: 65px;
    }

    &__tab {
        color: $cardSelectItemEmpty;
        transition: .3s ease;
        padding: 14px 0;
        font-weight: 300;
        font-size: 20px;
        cursor: pointer;
        border-bottom: 2px solid transparent;

        &:not(:first-child) {
            margin-left: 40px;
        }

        &:hover {
            color: $primaryColor;
        }

        &[data-is-active="true"] {
            border-color: $primaryColor;
            color: $primaryColor;
        }
    }

    &__tab-body {
        &[data-is-active="true"] {
            display: block;
        }

        &[data-is-active="false"] {
            display: none;
        }
    }

    &__stars-block {
        display: flex;
        margin-bottom: 20px;
    }

    &__reviews-description {
        max-width: 400px;
        margin-bottom: 15px;
    }

    &__stars-count {
        margin-left: 20px;
    }

    &__attributes-value {
        display: flex;
    }

    &__attributes-size {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primaryColor;
        transition: .3s ease;
        padding: 2px 14px;
        color: $whiteColor;
        font-size: 12px;

        &:hover {
            opacity: .7;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }

    &__reviews-item-top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $formSeparatorColor;
        padding-bottom: 5px;
    }

    &__reviews-stars {

        svg {
            fill: $primaryColor;
        }
    }

    &__reviews-item-name {
        font-weight: 700;
        color: $defaultFontColor;
    }

    &__reviews-text {
        padding: 30px 0;
    }

    &__reviews-time {
        color: $goodsTextColor;
        position: relative;
        padding-left: 25px;
        font-style: italic;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 15px;
            height: 1px;
            background: $goodsTextColor;
            top: 50%;
        }
    }

    &__reviews-item {
        padding-left: 20px;
        border-left: 1px solid $goodsTextColor;
    }

    &__reviews-count-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__reviews-box {
        @media (max-width: 991px) {
            order: 1;
        }
    }

    &__reviews-block {
        display: grid;
        grid-template-columns: 7fr 4fr;
        column-gap: 10%;

        @media (max-width: 991px) {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
    }

    &__select-count {
        width: 180px;
        margin-left: auto;

        @media (max-width: 991px) {
            margin-bottom: 10px;
            width: 100%;
        }
    }

    &__select-date {
        width: 220px;
        margin-left: 5px;

        @media (max-width: 991px) {
            margin: 0 0 10px;
            width: 100%;
        }
    }

    &__reviews-current {
        color: $goodsTextColor;

        b {
            font-weight: 700;
        }

        @media (max-width: 991px) {
            margin-bottom: 10px;
        }
    }

    &__rating-count {
        color: $defaultFontColor;
        font-size: 16px;
        margin-left: 40px;
    }

    &__star-item {
        margin: 0 2px;
        font-size: 0;
    }

    &__reviews-stars {
        display: flex;
        align-items: center;
    }

    &__rating-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: $primaryColor;

            &:hover {
                text-decoration: underline;
            }
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__rating-line {
        flex-grow: 1;
        margin: 0 40px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        background: $selectItemHover;
        height: 15px;

        span {
            background: $primaryColor;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            display: block;
        }
    }

    &__rating-table {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    &__rating-submit-btn {
        margin-left: auto;
    }
}