<!-- FORGOT-PASSWORD START -->
<section class="forgot-password section-block">
    <div class="container">
        <div class="forgot-password__content">
            <h2 class="forgot-password__title title--form mb-15">
                Passwort vergessen
            </h2>
            <div class="forgot-password__warn warn  warn--hint mb-20">
                <div class="warn__icon">
                    <svg width="16" height="16" class="btn__icon">
                        <use href="./img/icons/svg_sprite.svg#icon-info"></use>
                    </svg>
                </div>
                <p class="warn__text">
                    Bitte geben Sie hier Ihre E-Mail-Adresse ein, mit der Sie sich registriert haben.
                </p>
            </div>
            <div class="forgot-password__wrap">
                <form action="" class="forgot-password__form">
                    <label class="form-field mb-15" data-is-error="false">
                        <div class="form-field__label"><b>E-Mail-Adresse</b></div>
                        <input type="text" name="E-Mail" required placeholder="E-Mail-Adresse"
                            class="form-field__input">
                    </label>
                    <button class="forgot-password__btn btn mb-15">
                        Neues Passwort anfordern
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- FORGOT-PASSWORD END -->