<!-- FOOTER START -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__connect">
                <h5 class="footer__subtitle">
                    Service Hotline
                </h5>
                <p class="footer__connect-text">
                    Unterstützung und Beratung unter:
                </p>
                <div class="footer__contact">
                    <div class="footer__contact-row">
                        <div class="footer__contact-row-name">
                            <svg width="16" height="16">
                                <use href="./img/icons/svg_sprite.svg#icon-phone"></use>
                            </svg>
                            <span>Telefon:</span>
                        </div>
                        <div class="footer__contact-row-value">
                            <a href="tel:+4926239214016" class="text-link">+49 2623 9214 016</a>
                        </div>
                    </div>

                    <div class="footer__contact-row">
                        <div class="footer__contact-row-name">
                            <svg width="16" height="16">
                                <use href="./img/icons/svg_sprite.svg#icon-whatsApp"></use>
                            </svg>
                            <span>WhatsApp:</span>
                        </div>
                        <div class="footer__contact-row-value">
                            <a href="#" class="text-link">WhatsApp-Service</a>
                        </div>
                    </div>

                    <div class="footer__contact-row">
                        <div class="footer__contact-row-name">
                            <svg width="16" height="16">
                                <use href="./img/icons/svg_sprite.svg#icon-wpforms"></use>
                            </svg>
                            <span>E-Mail:</span>
                        </div>
                        <div class="footer__contact-row-value">
                            <a href="#" class="text-link">Kontaktformular</a>
                        </div>
                    </div>

                    <div class="footer__contact-row footer__contact-row--whole">
                        Mo - Fr 11:00 - 16:00 Uhr
                    </div>
                </div>
            </div>

            <div class="footer__info-section">
                <h5 class="footer__subtitle">
                    Kundenservice
                </h5>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Hilfe und häufige Fragen
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Retouren
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Versandkosten
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Ilessa® Services
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Bonuspunkte
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            VIP-Kundenkarte
                        </a>
                    </li>
                </ul>

            </div>


            <div class="footer__info-section">
                <h5 class="footer__subtitle">
                    Informationen
                </h5>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Über Ilessa®
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Kontaktformular
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Team
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Boutiquen
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Jobs
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Datenschutz
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            AGB
                        </a>
                    </li>

                    <li class="footer__list-item">
                        <a href="" class="footer__link">
                            Impressum
                        </a>
                    </li>

                </ul>

            </div>

            <div class="footer__newsletter">
                <div class="footer__newsletter-content">
                    <h5 class="footer__subtitle">
                        Newsletter Abonnieren
                    </h5>

                    <p class="footer__newsletter-text">
                        Bitte senden Sie mir entsprechend Ihrer <a href="" class="footer__link">Datenschutzerklärung</a> regelmäßig und jederzeit widerruflich
                        Informationen zu Ihrem Produktsortiment per E-Mail zu.
                    </p>
                </div>

                <form action="" class="footer__form">
                    <input type="email" placeholder="E-Mail-Adresse" class="footer__email form-field__input">
                    <button class="footer__btn btn">
                        Newsletter Abonnieren
                    </button>
                </form>

                <div class="footer__social">
                    <a href="#" class="footer__social-item">
                        <svg width="28" height="28">
                            <use href="./img/icons/svg_sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
    
                    <a href="#" class="footer__social-item">
                        <svg width="28" height="28">
                            <use href="./img/icons/svg_sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                    
                    <a href="#" class="footer__social-item">
                        <svg width="28" height="28">
                            <use href="./img/icons/svg_sprite.svg#icon-googlePlus"></use>
                        </svg>
                    </a>
    
                    <a href="#" class="footer__social-item">
                        <svg width="28" height="28">
                            <use href="./img/icons/svg_sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>
    
                    <a href="#" class="footer__social-item">
                        <svg width="28" height="28">
                            <use href="./img/icons/svg_sprite.svg#icon-pinterest"></use>
                        </svg>
                    </a>
    
                    <a href="#" class="footer__social-item">
                        <svg width="28" height="28">
                            <use href="./img/icons/svg_sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </div>
            </div>

        </div>

        <div class="footer__payment">
            <div class="footer__payment-item">
                <svg>
                    <use href="./img/icons/svg_sprite.svg#paymentIcon-klarna"></use>
                </svg>
            </div>

            <div class="footer__payment-item">
                <svg>
                    <use href="./img/icons/svg_sprite.svg#paymentIcon-paypal"></use>
                </svg>
            </div>

            <div class="footer__payment-item">
                <svg>
                    <use href="./img/icons/svg_sprite.svg#paymentIcon-sofort"></use>
                </svg>
            </div>

            <div class="footer__payment-item">
                <svg>
                    <use href="./img/icons/svg_sprite.svg#paymentIcon-mastercard-alt"></use>
                </svg>
            </div>

            <div class="footer__payment-item">
                <svg>
                    <use href="./img/icons/svg_sprite.svg#paymentIcon-visa"></use>
                </svg>
            </div>

            <div class="footer__payment-item">
                <svg>
                    <use href="./img/icons/svg_sprite.svg#paymentIcon-rechnung"></use>
                </svg>
            </div>

        </div>

        <div class="footer__middle">
            <div class="footer__pay">

            </div>
            <div class="footer__note">
                <p class="footer__note-text">
                    * Alle Preise inkl. gesetzlicher USt., zzgl. <a href="#" class="footer__link">Versand</a> 
                </p>
                <a href="#" class="footer__link">
                    Datenschutz-Einstellungen
                </a>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <p class="footer__copy">
            © Ilessa Bella Moda
        </p>

        <p class="footer__copy">
            Erstellt mit <a href="#" class="text-link"> admorris Pro </a> | Powered by <a href="#" class="text-link"> JTL-Shop </a>
        </p>
    </div>
</footer>
<!-- FOOTER END -->