<section class="best-offer section-block">
    <div class="container container--bottom-border">
        <h2 class="title title--section">
            TOP-ANGEBOT
        </h2>

        <div class="best-offer__slider">
            <div class="card__slide-wrap">
                <div class="best-offer__slide-item card card--slide">
                    <div class="best-offer__card-img card__img-wrapper">
                        <a href="">
                            <img src="./img/goods/item.jpg" alt="">

                            <span class="card__label card__label--info-text" data-type="special-offer">Sonderangebot</span>

                            <span class="card__label card__label--discount">-35%</span>
                        </a>
                    </div>

                    <div class="card__text-block">
                        <h4 class="card__name-block">
                            <a href="#" class="card__name">Jeansjacke</a>
                        </h4>

                        <div class="card__price-field">
                            jetzt nur <span class="amount"><span>32,44</span> €</span>
                        </div>

                        <small class="card__note">
                            <p>Alter Preis: <del>49,90 €</del></p>
                            <p>Rabatt:<span>35%</span></p>
                        </small>
                    </div>
                </div>
            </div>

            <div class="card__slide-wrap">
                <div class="best-offer__slide-item card card--slide">
                    <div class="best-offer__card-img card__img-wrapper">
                        <a href="">
                            <img src="./img/goods/item.jpg" alt="">

                            <span class="card__label card__label--info-text" data-type="novelty">Sonderangebot</span>

                            <span class="card__label card__label--discount">-35%</span>
                        </a>
                    </div>

                    <div class="card__text-block">
                        <h4 class="card__name-block">
                            <a href="#" class="card__name">Jeansjacke</a>
                        </h4>

                        <div class="card__price-field">
                            jetzt nur <span class="amount"><span>32,44</span> €</span>
                        </div>

                        <small class="card__note">
                            <p>Alter Preis: <del>49,90 €</del></p>
                            <p>Rabatt:<span>35%</span></p>
                        </small>
                    </div>
                </div>
            </div>

            <div class="card__slide-wrap">
                <div class="best-offer__slide-item card card--slide">
                    <div class="best-offer__card-img card__img-wrapper">
                        <a href="">
                            <img src="./img/goods/item.jpg" alt="">

                            <span class="card__label card__label--info-text" data-type="special-offer">Sonderangebot</span>

                            <span class="card__label card__label--discount">-35%</span>
                        </a>
                    </div>

                    <div class="card__text-block">
                        <h4 class="card__name-block">
                            <a href="#" class="card__name">Jeansjacke</a>
                        </h4>

                        <div class="card__price-field">
                            jetzt nur <span class="amount"><span>32,44</span> €</span>
                        </div>

                        <small class="card__note">
                            <p>Alter Preis: <del>49,90 €</del></p>
                            <p>Rabatt:<span>35%</span></p>
                        </small>
                    </div>
                </div>
            </div>

            <div class="card__slide-wrap">
                <div class="best-offer__slide-item card card--slide">
                    <div class="best-offer__card-img card__img-wrapper">
                        <a href="">
                            <img src="./img/goods/item.jpg" alt="">

                            <span class="card__label card__label--info-text" data-type="special-offer">Sonderangebot</span>

                            <span class="card__label card__label--discount">-35%</span>
                        </a>
                    </div>

                    <div class="card__text-block">
                        <h4 class="card__name-block">
                            <a href="#" class="card__name">Jeansjacke</a>
                        </h4>

                        <div class="card__price-field">
                            jetzt nur <span class="amount"><span>32,44</span> €</span>
                        </div>

                        <small class="card__note">
                            <p>Alter Preis: <del>49,90 €</del></p>
                            <p>Rabatt:<span>35%</span></p>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="btn best-offer__btn">
            Zeige alle Top-Angebote
        </a>
    </div>
</section>