// colors
$defaultFontColor: #808080;

$primaryColor: #6f4266;
$linkColor: #404040;
$blockBorderColor: rgba(64,64,64,.1);
$overlayBg: rgba(0,0,0,.3);

$formBorderColor: #ddd;
$inputBorderColor: #ccc;
$inputFocusColor: #66afe9;
$inputTextColor: rgba(0,0,0,.8);
$formSeparatorColor: hsla(0,0%,50.2%,.1);
$formTitleColor: hsla(0,0%,50.2%,.8);
$formBtnColor: #e6e6e6;
$selectItemHover: #f5f5f5;
$selectBodyShadow: 0 6px 12px rgba(0, 0, 0, .18);
$cardChoosenTextColor: #5d8398;
$cardSelectItemEmpty: hsla(0,0%,50.2%,.5);
$headerInputFocusColor: #784451;
$priceColor: #808080bf;

$hoverBtnColor: #4f2f49;
$activeBtnColor: #392234;

$titleColor: #444;

$whiteColor: #fff;
$darkColor: #000;

$menuLinkColor: #b277a1;
$menuLinkHoverColor: rgba(178,119,161,.25);

$footerBgColor: #fafafa;
$footerBottomColor: #c7c7c7;

$cardLabel: rgba(239, 0, 0, .5);
$cardLabelSpecOfferColor: #cc0063;
$cardLabelNoveltyColor: #fb8f67;
$headerShadow: 0 0 10px rgba(0, 0, 0, .1);
$cardHoverShadow:
    0 2px 2px rgba(0, 0, 0, .12),
    0 4px 4px rgba(0, 0, 0, .12),
    0 8px 8px rgba(0, 0, 0, .12),
    0 16px 16px rgba(0, 0, 0, .12),
    0 32px 32px rgba(0, 0, 0, .12);

$goodsTextColor: hsla(0,0%,60%,.5);

$dropdownMenu: 0 10px 15px -3px rgba(0, 0, 0, .1), 1px -1px 6px -4px rgba(0, 0, 0, .1);
$dropdownLink: #b277a166;
$headerBtnContainerBgColor: rgba(128, 128, 128, .07);

$warnColor: #995667; 
$warnBgColor: #ffedf1;
$warnBlueColor: #5d8398;
$warnBlueBgColor: #eef9ff;

$paginationLinkColor: #3f253a;
$breadcrumps: hsla(0,0%,50.2%,.25);

$attentionColor: #f00;
$availabilityLineColor: #e5e5e5;

$descriotionBgColor: rgba(111,66,102,.15);

$tableBgColor: #f5f3f3;

$infoBtnColor: rgba(128, 128, 128, 0.8);

$hintShadow: rgba(0, 0, 0, .2);

$amazonBtnBgColor: linear-gradient(to bottom, #F7F8FA, #E7E9EC);
$amazonBtnBgColorHover: linear-gradient(to bottom, #E6E9EF, #D9DCE1);
$amazonBtnBorder: #ADB1B8 #A2A6AC #8D9096;
$amazonBoxShadowInset: 0 1px 0 rgba(255, 255, 255, .4) inset;
$amazonBtnBorderFocus: #ADB1B8 #A2A6AC #8D9096;
$amazonBoxShadowFocus: 0 0 3px 2px rgba(228, 121, 17, .5);

$paypalColor: #0070ba;

$basketBtnHover: #d4d4d4;